* {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  text-align: center;
  background: #f3f3f3;
  height: 100%;
}

.contenedordetodo {
  margin: 5% 1% 2%;
  display: flex;
  justify-content: center;
}

.header {
  background: white;
  color: white;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  padding: 5px;
  overflow: hidden;
  height: 170px;
}

.logo img {
  width: 730px;
  margin: 5px;
}

.header h1 {
  display: inline-block;
  position: relative;
  bottom: 15px;
  font-size: 22px;
  color: white;
}

/* .social-media{
  display: flex;
  align-items: flex-end;
}

.social-media-mobile{
  display: none;
}

.social-media-wrapper{
  display: flex;
  align-items: center;
  margin-right: 5px ;
  padding: 5px;
}

.social-link{
  margin-right: 10px;
}

.media-ico{
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 10px;
}

.snapchat-ico{
  position: relative;
  background: white;
  overflow-y: hidden;
  display: inline-block;
  height: 35px;
  border-radius: 20%;
}

.snapchat-ico::before{
  content: "\f2ad";
  font-size: 40px;
  color: rgb(255, 233, 01);
  font-family:"FontAwesome";
  font-weight: 100;
  overflow: hidden;
  position: relative;
  bottom: 2px;
} */
.menu {
  /* background: #50A387; */
  background: #008C61;
  padding: 15px;
  position: sticky;
  top: 0;
}

.menu li {
  list-style: none;
  padding-right: 3px;
  display: inline-block;
}

.menu a {
  color: white;
  font: bold 14px sans-serif;
  padding: 9px 7px;
}

.menu .nav-boton a:hover {
  background-color: #74B59F;
  color: white;
  border-radius: 2px;
}

.nav-boton li {
  border-right: 2px solid white;
  text-decoration: none;
  list-style: none;
}

.nav-boton li:hover {
  background-color: #74B59F;
}

.nav-boton li a::before {
  font-family: "FontAwesome";
  font-size: 20px;
  font-weight: 100;
  padding-right: 5px;
}

.nav-boton li:nth-child(1) a::before {
  content: "\f015";
}

.nav-boton li:nth-child(2) a::before {
  content: "\f2bb";
  font-weight: lighter;
  font-size: 15px;
}

.nav-boton li:nth-child(3) a::before {
  content: "\f02d";
  font-weight: lighter;
  font-size: 15px;
}

.nav-boton li:nth-child(4) a::before {
  content: "\f0e0";
  font-weight: lighter;
  font-size: 15px;
}

.nav-boton li:nth-child(5) a::before {
  content: "\f155";
  font-weight: lighter;
  font-size: 15px;
}

.menu-right {
  display: flex;
}

.social-media li {
  padding: 0;
  margin: 0;
}

.social-media a::before {
  font-family: "FontAwesome";
  font-size: 20px;
  font-weight: 100;
  padding-right: 5px;
}

.social-media li:nth-child(1) a::before {
  content: "\f082";
  font-weight: 400;
  font-size: 25px;
}

.social-media li:nth-child(2) a::before {
  content: "\f16d";
  font-weight: 200;
  font-size: 25px;
}

.social-media li:nth-child(3) a::before {
  content: "\f2ad";
  font-weight: 300;
  font-size: 25px;
}

.buscar-mobile {
  display: none;
}

.buscar input {
  padding: 5px;
  border: 1px black solid;
  border-radius: 3px;
}

.buscar button {
  /* display: none; */
  /* visibility: hidden; */
  /* padding: 4px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  background-color: white;
  cursor: pointer;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  position: relative;
  right: 10%; */
}

.expand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.fas {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.cell-menu-icon {
  display: none;
}

.check-box {
  display: none;
}

.columna {
  flex-basis: 24%;
  margin-left: 3%;
}

.titulodecolumna-wrapper {
  padding: 5px 5px;
  text-align: center;
  border-radius: 2px;
  background: white;
  border-bottom: 1px solid black;
}

.titulodecolumna {
  font-family: "Merriweather";
  font-size: 20px;
}

.lista {
  border-radius: 5px;
  background: #fff;
  padding-bottom: 10px;
}

.lista li {
  list-style: none;
  display: list-item;
  text-align: -webkit-macht-parent;
  padding: 10px;
  width: 100%;
}

.li-img{
  width: 70px;
  height: 50px;
}

.li-wrap{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
  font-family: verdana;
  color: #0071bb;
  text-align: center;
  margin: 5px 0;
}

.fixed-columna{

}

.pie {
  padding: 18px 15px;
  color: white;
  background: #2d3436;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*Cell screen mode*/
@media only screen and (max-width:548px) {
  .columna {
    display: none;
  }

  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
  }

  .logo {
    height: 85px;
    margin-bottom: 10px;
  }

  .logo img {
    width: 100%;
  }

  .header h1 {
    font-size: 22px;
    position: relative;
    top: 1px;
    margin-bottom: 14px;
  }

  .buscar {
    display: none;
  }

  .buscar label {
    color: black;
  }

  .menu {
    padding: 5px 0;
    display: initial;
  }

  .menu a {
    display: block;
  }

  .menu li {
    padding: 5px 0;
    display: block;
  }

  .menu-right {
    display: none;
  }

  .nav-boton li {
    border: none;
  }

  .expand {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
  }

  .check-box {
    width: 100%;
  }

  .check-box:checked~.expand {
    max-height: 500px;
  }

  .check-box {
    display: none;
  }

  .cell-menu-icon {
    color: white;
    font-size: 20px;
    display: block;
  }

  .social-media {
    display: none;
  }

  .social-media-mobile {
    margin-bottom: 2px;
    display: flex;
    align-items: flex-end;
  }

  .buscar-mobile {
    display: none;
    /* display: block;
  position: relative;
  left: 10px; */
  }

  .buscar-mobile input::before {
    content: "\f002";
    font-family: "FontAwesome";
    font-size: 17px;
    font-weight: 100;
    padding-right: 5px;
    display: block;
  }

  .buscar-mobile input {
    padding: 4px;
    border-radius: 5px;
  }

  .buscar-mobile button {
    visibility: hidden;
    /* padding: 4px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  background-color: white;
  cursor: pointer;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  position: relative;
  right: 10%; */
  }
}
